/*
style.css
---------
Feuille de style relative à la maquette Réservia
Par Tony BARTHELEMY
*/

/* CSS Golbal : */

body {
    font-family: 'Raleway', sans-serif;
    color: rgb(39, 39, 39);
    margin: 0;
    padding: 0;
}

body, div, h1, h2, h3, img, form, header, section, aside, nav, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
	font-family: 'Raleway';
	src: url('href="https://fonts.googleapis.com/css?family=Raleway');
	font-style: normal;
}

#bloc-page {
    max-width: 1400px;
    margin: auto;
}

h1, h2 {
    font-size: 1.3em;
    font-weight: bold;
}
h3 {
    font-size: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
}

nav {
    height: 6em;
}

nav ul {
    display: flex;
    height: 100%;
}
nav a {
    padding: 0 1.3em 0 1.3em;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-top: 3px solid transparent;
}

a {
    color: rgb(39, 39, 39);
    text-decoration: none;
}
a:hover {
    color: #0065FC;
}

nav ul li:nth-child(3) {
    font-weight: bold;
    color:#0065FC !important;
}

nav ul li:hover{
    border-top: 3px solid #0065FC;
}

/* CSS spécifique : */


#en-tête-réservia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 8em;
}

#Affichage-résultats {
    display: flex;
    justify-content: space-between;
}

#Hébergements-Marseille {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 2em;
    width: 60%;
}

aside {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 2em;
    width: 28%;
}

#Classement-Marseille {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Vignette-logement-standard {
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    margin-bottom: 2em;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1);
}
.Vignette-logement-standard img {
    width: 15em;
    height: 7em;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.Vignette-logement-populaire {
    display: flex;
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    margin-bottom: 2em;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1);
}
.Vignette-logement-populaire img {
    width: 7em;
    height: 8em;
    border-radius: 10px 0px 0 10px;
    object-fit: cover;
}

#Affichage-activités {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 30em;
    width: 100%;
    background-color: thistle;
}

.Vignette-activité {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    max-width: 20em;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.Vignette-activité:nth-child(1) {
    border: 3px solid red;
    background: center / cover no-repeat url("Images/activites/small/vieux-port-xs.jpg");
    position: relative;
    height: 100%;
}
.Vignette-activité:nth-child(2) {
    border: 3px solid rgb(72, 185, 19);
    background: center / cover no-repeat url("Images/activites/small/fort-de-pomègues-xs.jpg");
    position: relative;
    height: 54%;
}
.Vignette-activité:nth-child(3) {
    border: 3px solid rgb(231, 42, 175);
    background: center / cover no-repeat url("Images/activites/small/ile-du-frioul-xs.jpg");
    position: relative;
    height: 34%;
}
.Vignette-activité:nth-child(4) {
    border: 3px solid rgb(35, 224, 199);
    background: center / cover no-repeat url("Images/activites/small/parc-des-calanques-xs.jpg");
    position: relative;
    height: 100%;
}
.Vignette-activité:nth-child(5) {
    border: 3px solid rgb(21, 41, 218);
    background: center / cover no-repeat url("Images/activites/small/notre-dame-de-la-garde-xs.jpg");
    position: relative;
    height: 40%;
}
.Vignette-activité:nth-child(6) {
    border: 3px solid rgb(223, 209, 19);
    background: center / cover no-repeat url("Images/activites/small/parc-longchamp-xs.jpg");
    position: relative;
    height: 40%;
}

.Description-nom-tarif {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-radius: 0 0 20px 20px;
}
.Description-nom-tarif h3 {
    margin-left: 1.2em;
}    


#Footer {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 3em;
    margin-top: 3em;
    line-height: 2em;
}
#A-propos {
    width: 15em;
}
#Nos-hébergements {
    width: 15em;
}
#Assistance {
    width: 15em;
}